*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

.post-bloc{
  height: 8em;
}
/* .center-content{
  display: flex;
  justify-content: center;
}

.container{
  width: 80%;
  margin: auto;
}

.center-text{
  text-align: center;
}

.post-form{
  margin-top: 2em;

}

.input-group input{
padding: 4px;
}

.post-form div{
  margin-bottom: 1em;

}

.input-group label{
  display: inline-block;
  width: 80px;
  text-align: right;
}
 */
